@media(min-width: 601px) {
    .author-info {
        width: 70%;
    }
}

.author-info {
    border: 2px solid #0fa3b169;
    border-radius: 5px;
    /*background-color: rgba(86, 215, 150, 0.1);*/
    /*background-color: rgba(225, 185, 136, 0.25); light orange*/
    background-color: #0fa3b121;
    padding: 7px 15px 7px 15px;
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.author-info > img {
    width: 70px;
    height: auto;
    border-radius: 50%;
    margin: 10px 0 10px 0;
}

.author-name {
    font-weight: bold;
    text-decoration: underline;
}

.author-social img {
    width: 30px;
    height: auto;
    opacity: 40%;
    margin: 3px;
}