@import url(style.css);
@import url(main-grid.css);
@import url(navbar.css);
@import url(newsletter.css);
@import url(footer.css);
@import url(quote.css);
@import url(typography.css);
@import url(social-sharing.css);
@import url(author-box.css);


/*Sidebar - calendar and categories for small and medium screen*/
@media(max-width:900px) {
    .sidebar {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }

    .calen {
        grid-area: 1/1/1/1;
    }

    .categ {
        grid-area: 1/2/1/2;
    }
}
/*End of sidebar for small and medium screen*/


figure img {
    display: block;
    width: 100%;
    height: auto;
}

/*Images and captions for small and medium screen*/
@media(max-width: 600px) {
    figure img {
        max-width: 320px;
        margin: 30px auto 10px auto;
    }
}

@media(min-width:601px) and (max-width:900px) {
    figure img {
        max-width: 550px;
        margin: 40px auto 15px auto;
    }
}

@media(min-width:901px) {
    figure img {
        max-width: 760px;
        margin: 50px auto 20px auto;
    }  
}
/*End of images and captions for small and medium screen*/


main {
    width: 90%;
    margin: auto;
}

article p {
    text-align: justify;
    /*text-indent: 40px; - to add tab in the first p lines*/
    padding: 10px 30px 0 30px;
    margin-top: 10px;
}

article h1, h2 {
    margin-top: 30px;
    text-align: center;
}

.post-date {
    color: rgb(104, 103, 103);
    font-size: 22px;
    font-style: italic;
    margin: -20px auto 30px 70%;
}

article strong {
    /*background-color: #f6a27896;*/
    /*background-color: rgba(85, 186, 249, 0.577); light blue*/
    background-color: rgba(86, 215, 150, 0.445);
}

article a {
    color: rgb(248, 193, 126);
    text-decoration: underline;
}

figcaption {
    text-align: center;
}


/*Styles for sidebar*/
.sidebar {
    background-color: rgb(248, 193, 126);
}

.sidebar h3 {
    margin-top: 10px;
}

.list-calendar {
    display: inline-block;
    text-align: left;
    color: black;
}

.list-calendar > li {
    font-size: 1.3em;
    margin-left: 15px;
    margin-top: 5px;
}

.list-calendar > li > ul > li {
    font-size: 0.8em;
    margin-left: 10px;
}

.list-calendar a {
    color: black;
}

.list-cat {
    display: inline-block;
    text-align: left;
}

.list-cat li {
    margin-top: 5px;
}

.list-cat a {
    color: black;
    font-size: 1em;
    margin-left: 15px;
}

.sidebar a {
    color: black;
}

.sidebar a:hover {
    cursor: pointer;
}
/*End of styles for sidebar*/