.sidebar {
    /*background-color: rgba(225, 123, 100, 1);*/
    background-color: rgb(248, 193, 126);
    padding: 5px 10px;
    margin: 5px;
}

.sidebar h3 {
    margin-top: 20px;
}

.sidebar img {
    border-radius: 50%;
    width: 150px;
    margin-top: 40px;
}

.sidebar p {
    margin: 10px 10px 0 10px;
}