.header li, a, button {
    font-size: 16px;
    color: bisque;
}

.header a:hover {
    color: rgb(248, 193, 126);
}


/*Header, navbar for small screen*/
.header {
    display: grid;
    grid-template-rows: auto auto;
    gap: 15px;
    background-color: #333;
}
.header nav {
    grid-area: 1/1/1/1;
}
.header form {
    grid-area: 2/1/2/1;
}
/*End of header, navbar for small screen*/


/*Header, navbar for medium and big screen*/
@media(min-width:601px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px 10%;
        /*padding: 30px 10%;*/
    }
}
/*End of header, navbar for medium and big screen*/


nav li {
    display: inline-block;
    padding: 0px 20px;
}

.header button {
    padding: 5px 15px;
    /* padding: 9px 25px; */
    background-color: rgba(104, 103, 103, 1);
    /*background-color: #ffe4c4ff;*/
    border: none;
    border-radius: 25px;
}

.header button:hover {
    background-color: rgba(104, 103, 103, 0.9);
    /*background-color: #868585ee;*/
    /*background-color: #ffe4c4ee;*/
    color: rgb(248, 193, 126);
}