.subs-box {
    /*border: 3px groove lightblue;*/
    border: 3px groove #076770;
    border-radius: 10px;
    width: 80%;
    height: auto;
    margin: 40px auto 20px auto;
    padding: 25px;
    /*background-color: rgb(208, 234, 242);*/
    /*background-color: rgba(225, 185, 136, 0.25); light orange*/
    /*background-color: #0fa3b15f; teal*/
    /*background-color: #bfedc1c5; light green*/
    /*background-color: #0fa3b121; !! lightest teal*/
    background-color: #0fa3b160;
    box-shadow: 10px 10px 5px lightgray;
}

.subs-box button {
    padding: 8px 12px;
    border-radius: 15px;
    border-color: lightblue;
    background-color: rgba(104, 103, 103, 1);
    color: bisque;
}

.subs-box button:hover {
    background-color: rgba(104, 103, 103, 0.9);
    color: rgb(248, 193, 126);
}

.subs-box p, form {
    margin-bottom: 5px;
}

.subs-title {
    font-family: Garamond, serif;
    font-size: 1.3em;
}


/*Newsletter sign up for medium and big screen*/
@media(min-width:601px) {
    .subs-box {
        width: 500px;
    }
}