.sharing {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.sharing > button {
    /*display: inline-block;*/
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 0;
    border: none;
    border-radius: 3%;
    padding: 10px 10px;
    margin: 4px 2px;
    box-shadow: 5px 10px 8px #888;
}

.sharing > button:hover {
    cursor: pointer;
}

.fb, .fb > a {
    background-color: rgb(34,122,238);
    color: white;
}

.twee, .twee > a {
    background-color: white;
    color: rgb(41,157,237);
}

.lnkd, .lnkd > a {
    background-color: rgb(17,120,179);
    color: white;
}