@import url(navbar.css);
@import url(main-posts-gallery.css);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(250, 238, 226, 0.6);
}

.header { grid-area: hd; }
#banner { grid-area: bn; }
.main { grid-area: main; }
.sidebar { grid-area: side; }
.subscribe { grid-area: sbs; }
.footer { grid-area: ft; }

.grid-container {
    display: grid;
    grid-template-columns: auto auto 250px;
    grid-template-areas:
    'hd hd hd'
    'bn bn bn'
    'main main side'
    'sbs sbs side'
    'ft ft ft';
    gap: 0;
    background-color: rgb(250, 246, 239);
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 17px;
}


#banner {
    background-image: url(../images/banner-sevillana.jpg);
    width: vw;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar {
    /*background-color: rgba(225, 123, 100, 1);*/
    background-color: rgb(248, 193, 126);
    padding: 5px 10px;
}

.sidebar h3 {
    margin-top: 20px;
}

.sidebar img {
    border-radius: 50%;
    width: 150px;
    margin-top: 40px;
}