@import url(navbar.css);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(250, 238, 226, 0.6);
}

.header { grid-area: hd; }
.main { grid-area: main; }
.sidebar { grid-area: side; }
.subscribe { grid-area: sbs; }
.footer { grid-area: ft; }

.grid-container {
    display: grid;
    grid-template-areas:
    'hd hd hd hd hd'
    'main main main main side'
    'sbs sbs sbs sbs sbs'
    'ft ft ft ft ft';
    gap: 10px;
    background-color: rgb(250, 246, 239);
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.header li, a, button {
    font-size: 16px;
    color: bisque;
}

.header a:hover {
    color: rgb(248, 193, 126);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10%;
    /*padding: 30px 10%;*/
    background-color: #333;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

.header button {
    padding: 5px 15px;
    /* padding: 9px 25px; */
    background-color: rgba(104, 103, 103, 1);
    /*background-color: #ffe4c4ff;*/
    border: none;
    border-radius: 25px;
    /*margin-left: 0px;*/
}

.header button:hover {
    background-color: rgba(104, 103, 103, 0.9);
    /*background-color: #868585ee;* -first try/
    /*background-color: #ffe4c4ee;*/
    color: rgb(248, 193, 126);
}

.posts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.posts-list > li {
    flex-basis: 350px;
}

.posts-list li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}